body {
    overflow-x: hidden;
    font-family: HelveticaCondensed;
}

html,
body {
    padding: 0;
    margin: 0;
}

.header {
    float: left;
}

.sub-header {
    float: left;
}

.top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    z-index: 10;
    height: 100px;
    background: #ffffff;
    border-bottom: 1px solid lightskyblue;
}

.body-container {
    display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}

.header-container {
    width: 20%;
}

.button-container {
    width: 80%;
}

.left,
.middle {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    padding-left: 20px;
}

.btn-outline-primary {
    float: right;
    margin: 10px;
    cursor: pointer;
    font-size: 15px;
    min-width: 100px;
}

.left::-webkit-scrollbar,
.middle::-webkit-scrollbar {
    display: none;
}

.input-text {
    width: 70%;
    vertical-align: text-top;
    display: inline-block;
    margin-left: 50px;
    margin-top: 5px;
    font-family: Courier, monospace;
    font-size: 15px;
}

.left {
    width: 300px;
    margin-left: -15px;
    border-right: 1px solid lightskyblue;
}

.app-text {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid lightskyblue;
}

.middle {
    flex: 1;
}

.modal-button {
    font-size: 15px;
}

label {
    font-size: 15px;
}

input {
    width: 100%;
}

.icon {
    margin-right: 7px;
}

.container {
    margin-left: 1px;
}

.header-text,
.sub-header-text {
    text-align: right;
    margin-right: 10px;
}

.sub-header-text {
    justify-content: flex-end;
    font-style: italic;
}

td {
    font-family: Courier, monospace;
    font-size: 15px;
}

@font-face {
    font-family: HelveticaCondensed;
    src: url("./lib/Helvetica-condensed-oblique.ttf");
}

.modal-button {
    width: 100px;
}